/* TODO: Build layout for campuses page */
.main-container {
  display: flex;
}

#map {
  height: 100vh;
  position: sticky;
  top: 16px;
}

.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

@media (max-width: 800px) {
  #map {
    display: none;
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}